.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Verdana', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}
.login {
  display: grid;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.login img {
  max-width: 500px;
}
.login h2 {
  text-align: center;
}
#email , #pass , #nameUser , #apellidoUser{
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 35px;
  margin: 5px;
  padding: 10px;
}
.forgotPass, a {
  text-decoration: none;
  color: #999999;
  text-align: right;
  padding: 5px;
}
#signup {
  display: grid;
}
#WelText, #user{
color: #ccc;
}

/* PÁGINA DE PRODUCTOS */
#products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
}
@media (max-width: 992px) {
#products {
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 768px) {
  #products {
    grid-template-columns: repeat(1, 1fr);
  }
}
}
.productCard {
  position: relative;
  height: 400px;
  margin: 5px;
  border: 1px solid #eee;
  border-radius: 5px;
  cursor: pointer;
}
.productCard:hover {
  box-shadow: 0px 0px 10px #99999950;
}
@media (max-width:768px){
  .productCard {
    height: 500px;
  }
}
.productCard img {
  width: 100%;
  margin-right: 20px;
  border-radius: 5px 5px 0 0;
}
.productDescription {
  padding: 20px; 
}
.priceProductPage {
  font-size: 20px;
}
.nameProductPage {
  font-size: 16px;
}
.descripcionProduct {
  font-size: 12px;
  color: #333;
}
.soldCount {
  position: absolute;
  bottom: 10px;
  font-size: 12px;
}
.offset-lg-6, .form-control, .btn-light {
  font-size: 0.8em;
}
#clearRangeFilter {
  color: black;
}
.btn-group {
  float: right;
}
.row .container .p-0 .m-0 {
  float: right;
}
#WelText {
  text-align: right;
  margin: 0px;
}
.search {
  border-radius: 3px;
  padding: 10px 15px 10px 15px;
  font-size: 0.8em;
  border: none;
}
.search:focus {
  outline: 0;
}
.bg-dark {
  background-color: orange !important;
}
.nav-link {
  color: white !important;
}
.fa-magnifying-glass {
  color: white;
}
.nav-item img {
  max-width: 200px;
}
#user {
  color: white;
}
.closeSesion {
  padding: 10px;
  width: 100px;
}

/* Estilos de PRODUCT-INFO */
.productContent {
  display: grid;
  justify-content: center;
  align-items: center;
}
.productCategory {
  background-color: rgb(245, 245, 245);
  padding: 10px;
  margin-top: 50px;
}
.st-products-category {
  font-weight: 700;
}
.st-products-category span{
  font-weight: 400;
}
.st-products {
  font-weight: 700;
}
.productImages {
  display: flex;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 10px;
  padding: 10px;
  width: fit-content;
}
.mainImage {
  max-width: 600px;
  margin: 10px 0px;
}
@media (max-width:992px){
  .mainImage {
    max-width: 500px;
  }
}
.unitImages {
  display: flex;
  max-width: 120px;
  margin: 10px 0px 0px 10px;
  border: 1px solid rgb(200, 200, 200);
  padding: 3px;
  border-radius: 5px;
}
@media (max-width:992px){
  .unitImages {
    max-width: 100px;
  }
}
.unitImages:hover {
  border: 1px solid orange;
}
.containerInfo {
  padding: 15px;
}
.containerComm {
  margin-top: 50px;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 10px;
  padding: 15px;
}
/*COMENTARIOS*/
.titleOpinions {
  font-size: 1.2em;
}
.stars {
  margin: 0px;
  color: rgb(255, 196, 3);
}
.userNameComment, .dataComment {
  margin: 0px;
  font-size: 0.65em;
}
.commentDescription {
  font-size: 0.9em;
}
.totalSold {
  font-size: 0.8em;
  color: #999999;
}