.card-body,
.container,
.site-header {
  font-family: 'Verdana', serif !important;
}

.display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}
.login {
  display: grid;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.login img {
  max-width: 500px;
}
.login h2 {
  text-align: center;
}
.forgotPass, a {
  text-decoration: none;
  color: #999999;
  text-align: right;
  padding: 5px;
}
#signup {
  display: grid;
}
#user{
color: #999999;;
font-size: 0.8em;
}

/* PÁGINA DE PRODUCTOS */
#products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
}
@media (max-width: 992px) {
#products {
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 768px) {
  #products {
    grid-template-columns: repeat(1, 1fr);
  }
}
}
.productCard {
  position: relative;
  height: 400px;
  margin: 5px;
  border: 1px solid #eee;
  border-radius: 5px;
  cursor: pointer;
}
.productCard:hover {
  box-shadow: 0px 0px 10px #99999950;
}
@media (max-width:768px){
  .productCard {
    height: 500px;
  }
}
.productCard img {
  width: 100%;
  margin-right: 20px;
  border-radius: 5px 5px 0 0;
}
.productDescription {
  padding: 20px; 
}
.priceProductPage {
  font-size: 20px;
}
.nameProductPage {
  font-size: 16px;
}
.descripcionProduct {
  font-size: 12px;
  color: #333;
}
.soldCount {
  position: absolute;
  bottom: 10px;
  font-size: 12px;
}
.offset-lg-6, .form-control, .btn-light {
  font-size: 0.8em;
}
#clearRangeFilter {
  color: black;
}
.btn-group {
  float: right;
}
.row .container .p-0 .m-0 {
  float: right;
}
#WelText {
  text-align: right;
  margin: 0px;
}
.search {
  text-align: center;
  max-width: 500px;
  width: 100%;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
  font-size: 0.8em;
}
.search:focus {
  outline: 0;
}
.bg-dark {
  background-color: orange !important;
}
.nav-link {
  color: white !important;
}
.fa-magnifying-glass {
  margin: 10px;
  color: orange;
}
.nav-item img {
  max-width: 200px;
}
.closeSesion {
  padding: 10px;
  width: 100px;
}

/* Estilos de PRODUCT-INFO */
.product-description {
  display: flex;
  flex-wrap: wrap;
}
.productContent {
  max-width: 920px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.productCategory {
  margin-top: 50px;
  font-size: 0.9em;
}
.productInfo h1 {
  font-weight: 700;
  font-size: 2em;
  color: #333;
}
.st-products-category {
  font-weight: 700;
}
.st-products-category span{
  font-weight: 400;
}
.st-products {
  font-size: 1.2em;
}
.productImages {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 10px;
  padding: 10px;
  background-color: white;
}
.containerMainImage {
  width: 100%;
  overflow: hidden;
}
.containerSecondaryImages {
  display: flex;
}
.mainImage {
  width: 100%;
  margin: 10px 0px;
  transition: transform .2s;
}
.mainImage:hover {
    transform: scale(1.5);
}
.unitImages {
  display: flex;
  max-width: 120px;
  margin: 10px 0px 0px 10px;
  border: 1px solid rgb(200, 200, 200);
  padding: 3px;
  border-radius: 5px;
}
@media (max-width:992px){
  .unitImages {
    max-width: 100px;
  }
}
.unitImages:hover {
  border: 1px solid orange;
}
.containerAddToCart {
  display: flex;
}
#qty {
  max-width: 70px;
  margin-right: 5px;
}
.containerInfo {
  padding: 15px;
}
.containerComm {
  margin-top: 10px;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 10px;
  padding: 15px;
}
.cost {
  font-size: 1.3em;
}
.currency {
  font-size: 0.7em;
}
.addToCart {
  color: white;
  background-color: orange;
  border-radius: 2px;
  border: none;
  padding: 5px 20px;
}
.addToCart:hover {
  background-color: rgba(255, 166, 0, 0.7);
}
/*COMENTARIOS*/
.titleOpinions {
  font-size: 1.2em;
}
.stars {
  margin: 0px;
  color: rgb(255, 196, 3);
}
.userNameComment, .dataComment {
  margin: 0px;
  font-size: 0.75em;
}
.commentDescription {
  font-size: 0.9em;
}
.totalSold {
  font-size: 0.8em;
  color: #999999;
}

#submitComment {
  background-color: orange;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
.not-comment {
  font-size: 0.8em;
}
/* Menu desplegable de usuario */
/* Ocultar el menú desplegable por defecto */
#nav-dropdown {
  cursor: pointer;
  position: relative; /* Añadir posición relativa para ajustar el espacio sensible */
  transition: all 0.3s ease; /* Suavizar la animación */
}
.dropdown-menu-user-sesion {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 100;
}
/* Mostrar el menú desplegable cuando se pasa el cursor sobre el elemento principal */
#nav-dropdown:hover .dropdown-menu-user-sesion {
  display: block;
}
.secondary-nav-item {
  font-size: 1em;
  font-weight: 300;
  list-style: none;
  color:#333;
}
 #categoryDropdown {
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Estilo para la lista de categorías */
#categoryList {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 100;
  margin-top: 2%;
  min-width: 150px; 
  list-style-type: none;
  padding-left: 2px;
}

/* Estilo para mostrar la lista de categorías al pasar el mouse sobre el elemento */
#categoryDropdown:hover #categoryList {
  display: block;
}

/* Estilo para las opciones de la lista de categorías */
#categoryList a {
  text-align: left;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #3333338f;
  font-weight: 300;
}

/* Estilo para las opciones de la lista de categorías al pasar el mouse */
#categoryList a:hover {
  color: #0425b8;
  background-color: #ffffff;
}


/* Sección de comentarios */
#commentForm {
  position: relative;
}
.text-comment {
  width: 100%;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 15px;
  padding-top: 40px;
  background-color: transparent;
}
.text-comment:focus {
  border: 1px solid orange;
  outline: none;
  color: #535353;
  box-shadow: 0 0 3px 2px rgba(255, 166, 0, 0.3);
}
#submitComment {
  color: white;
  background-color: orange;
  border-radius: 2px;
  border: none;
  padding: 5px 20px;
}
#submitComment:hover {
  background-color: rgba(255, 166, 0, 0.7);
}
#select-score {
  width: 50px;
  border-radius: 5px;
  padding: 2px;
}
#select-score:focus {
  border: 1px solid orange;
  outline: none;
  box-shadow: 0 0 3px 2px rgba(255, 166, 0, 0.3);
}
.rating {
  position: absolute;
  top: 40px;
  padding: 15px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  align-items: left;
}
.rating input {
  display: none;
}
.rating label {
  font-size: 30px;
  cursor: pointer;
  color: #ccc;
}
.rating label:before {
  content: "\2605";
}
.rating input:checked ~ label {
  color: #ffcc00;
}
/* MENU */
.justify-content-left {
  justify-content: left;
}
.justify-content-right {
  justify-content: right;
  padding: 10px;
}
.nav-item {
  padding: 0 20px;
}
/* Botón modo noche */
 .darkModeSwitch{
  background: #113528;
  display:flex;
  position: relative;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 1rem;
  align-items: center;
  justify-content: space-between;
}
.darkModeSwitch span{
  width:30px;
  height:30px;
  line-height:30px;
  display:block;
  color:#fff;
  background: none;
}
.darkModeSwitch::after{
  display:block;
  background: #042d26de;
  width: 1.9rem;
  height: 1.9rem;
  position: absolute;
  top:0;
  left:0;
  right:unset;
  border-radius: 3rem;
  transition: all .5s ease;
  content: "";
}
.darkModeSwitch.active{
  background: #030e2a;
}
.darkModeSwitch.active::after{
  left:unset;
  right:0;
}

/* Productos Relacionados */
.related-products {
  margin-top: 20px;
}
.titleRelatedProducts {
  font-size: 1.2em;
  text-align: center;
}
#container-related-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.productRelatedInfo {
  max-width: 250px;
  text-align: center;
  border: 1px solid #eeeeee;
  border-radius: 10px;
  margin: 10px;
}
.productRelatedInfo:hover {
  box-shadow: 0px 0px 10px #99999950;
  cursor: pointer;
}
.nameRelProd {
  font-size: 1.1em;
  padding: 10px 10px 0px 10px;
}
.imgRelProd {
  max-width: 100%;
}
.productRelatedInfo hr {
  margin: 0px;
}

.notification {
  display: none;
}

.imgCart {
  max-width: 100px;
}

.address, .shippingCost, .totalCart {
  max-width: 800px;
  margin: 0 auto;
}

.checkout {
  color: white;
  background-color: orange;
  border-radius:500px;
  border: none;
  padding: 10px 10px;
  font-size: 1em;
}
.checkout:hover {
  background-color: rgba(255, 166, 0, 0.7);
}
.selectCurrency {
  width: auto;
}
#totalPrice {
  font-size: 2em;
  color: orange;
}

.logo {
  max-width: 200px;
  height: auto;
}

input[type=number].removeSpinner::-webkit-inner-spin-button,
input[type=number].removeSpinner::-webkit-outer-spin-button {
  display: none;
}

.total {
padding: 30px;
}
.quantity-input {
  width: 70px;
  font-size: .8em;
  padding: .375rem .75rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

/*USER PAGE (my-profile.html)*/
.container-profile span {
  font-size: 0.8em;
  color: orange;
}
.btn-primary {
  background-color: orange;
  border: none;
}
.btn-primary:hover {
  background-color: rgba(255, 166, 0, 0.5);
}
.imgProfile {
  max-width: 100px;
  border-radius: 100%;
  margin: 10px;
}
/* MENU PRINCIPAL */
.main-menu {
  background-color: orange !important;
}